.idea/
__pycache__/
custom_layers/__pycache__/
data/instance-level_human_parsing/Training/Images
data/instance-level_human_parsing/Training/Category_ids
data/instance-level_human_parsing/Training/LIP_Category_ids
data/instance-level_human_parsing/Training/LIP_Images
data/instance-level_human_parsing/Training/Pristine_Category_Ids
data/instance-level_human_parsing/Training/Pristine_Images
data/instance-level_human_parsing/Testing/images
data/instance-level_human_parsing/Validation/Category_ids
data/instance-level_human_parsing/Validation/Images
data/instance-level_human_parsing/Validation/LIP_Category_ids
data/instance-level_human_parsing/Validation/LIP_Images
models/
logs/
images/
