<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Automatic Apparel Outliner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid id="container">
    <ion-row>
      <ion-button id="upload" (click)="addFiles()">Select a file</ion-button>
    </ion-row>
    <ion-row *ngIf="!!originalImage">
      <ion-col>Original Image</ion-col>
      <ion-col>Processed Image</ion-col>
    </ion-row>
    <ion-row *ngIf="!!originalImage" class="image-container">
      <ion-col class="image">
        <img [src]="originalImage" />
      </ion-col>
      <ion-col>
        <img id="processedImage" [src]="processedImage" (click)="onProcessedImageClick($event)" />
      </ion-col>
    </ion-row>
    <div *ngIf="processedImage">
      <ion-row>
        <ion-col>
          <ion-label>Select an outline color</ion-label>
        </ion-col>
        <ion-col>
          <input
            [(colorPicker)]="selectedColor"
            [style.background]="selectedColor"
            cpPosition="top-left"
            cpOutputFormat="rgba"
            cpAlphaChannel="disabled"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Select an outline thickness</ion-label>
        </ion-col>
        <ion-col>
          <ion-select interface="popover" name="outlineThickness" [value]="outlineThickness">
            <ion-select-option value="0">Small</ion-select-option>
            <ion-select-option value="1">Medium</ion-select-option>
            <ion-select-option value="2">Large</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Click the processed image to select the section to outline</ion-col>
        <ion-col>
          <ion-row *ngIf="segmentColor" class="selected-segment-row">
            <ion-col>{{ getSegmentColorLabel() }}</ion-col>
            <ion-col class="segment-color" [style.background]="segmentColor"></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-button [disabled]="!readyToOutline()" (click)="getOutlinedImages()">Get outlined images</ion-button>
    </div>
  </ion-grid>
</ion-content>

<input id="file-input" type="file" #file (change)="onFilesAdded()" accept="image/*" />
