home {
  overflow: scroll;

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: calc(100% - 150rem);
    transform: translateY(-50%);

    ion-item {
      position: relative;
      --background: transparent;
    }

    ion-col {
      border: 1px white solid;
    }
  }

  #file-input {
    display: none;
  }

  .image {
    background: center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
  }

  ion-row.selected-segment-row {
    border: none !important;

    ion-col {
      border: none !important;
    }
  }
}
