<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Automatic Apparel Outliner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid id="container">
    <ion-row class="image-container">
      <ion-col>
        <ion-item class="image">
          <ion-label slot="start" position="stacked">Original Image</ion-label>
          <img [src]="originalImage" (click)="clickImage($event)" />
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="image">
          <ion-label slot="start" position="stacked">Processed Image</ion-label>
          <img [src]="processedImage" />
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button id="upload" (click)="addFiles()">Select a file</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<input id="file-input" type="file" #file (change)="onFilesAdded()" accept="image/*" />
