home {
  overflow: scroll;

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    div {
      font-size: 1rem;
      line-height: 22px;
      color: #0099ff;
      margin: 0;
    }

    ion-item {
      position: relative;
      --background: transparent;
    }

    ion-col {
      border: 1px white solid;
    }
  }

  #file-input {
    display: none;
  }

  #upload-container {
    min-width: 400rem;
  }

  .image {
    background: center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
